# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Visual Studio
.vs/
*.pyproj.user

# Logs and environment
*.log
.env
.env.*

# IDE
.idea/
*.suo
*.user
*.sln.docstates

# Misc
.DS_Store
Thumbs.db
